.next/
node_modules/
tsconfig.tsbuildinfo
.env
.env.local
.env.*.local
.env.vercel*
npm-debug.log*
dist/
coverage/

.vercel

# OpenNext
.open-next

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example

!.env.example
